#calc_area{
    font-size:30px;
    color: #00A0E9;
    width: 220px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
#button_area{
    width: 220px;
    background-color: #9FD9F6;
}

.button_style{
    background-color: #00A0E9;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
}

.big{
    width: 160px;
    height: 50px;
}